{% load i18n %}{% blocktrans %}Hello!

Recibe este correo electrónico porque usted u otra persona ha solicitado una contraseña para su cuenta de usuario.
Se puede ignorar con seguridad si no solicitó un restablecimiento de contraseña. Haga clic en el enlace de abajo para obtener el token.{% endblocktrans %}

{{ reset_password_url }}

Luego, si va a https://consumeñuble.cl/reset-password/confirm/, puede pegar el token y la nueva contraseña.

{% if email %}{% blocktrans %}En caso de que lo haya olvidado, su correo electrónico es {{ email }}.{% endblocktrans %}

{% endif %}{% blocktrans %}¡Que tengas un gran día!
{% endblocktrans %}
